#alignment{
    text-align: center;
}

body{
    background-color: #B0EFF9;
    margin-bottom: auto;
    margin-top: auto;
}

#qrcode{
    height: 1000px;
    width: 1000px;
    margin-top: auto;
}